/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки 

*/

button {
  cursor: pointer;
}

.wrapper {
  /* inline-size: 100%; */
  inline-size: 375px;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-block: 120px;
  border: 2px solid var(--accent-color);
  background-color: #fff;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family);
  font-variation-settings: 'wght' 400;
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  font-family: var(--accent-font-family);
  margin-block: 100px;
}

.header__text {
  text-align: center;
}

.header__title {
  font-size: 49px;
}

.header__subtitle {
  font-size: 14px;
  text-transform: uppercase;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.article {
  inline-size: 100%;
  font-family: var(--main-font-family);
  font-size: 18px;
  border: 2px solid #000;
  background-color: #fff;
}

/* Применение фильтров для изображений */
.article__img-blur {
  filter: blur(2px);
}

.article__img-grayscale {
  filter: grayscale(80%);
}

.article__img-brightness {
  filter: brightness(150%);
}

.article__img-contrast {
  filter: contrast(150%);
}

.article__img-rotate {
  filter: hue-rotate(120deg);
}

.article__img-invert {
  filter: invert(100%);
}

.article__img-sepia {
  filter: sepia(100%);
}

.article__img-opacity-grayscale {
  filter: opacity(90%) grayscale(80%);
}
/* Применение фильтров для изображений */

.article__title {
  font-size: 18px;
  font-variation-settings: 'wght' 700;
  padding: 5px 10px 4px 10px;
  border-bottom: 2px solid #000;
}

.article__img-wrapper {
  position: relative;
  inline-size: 100%;
  block-size: calc(var(--wrapper-inline-size) - 4px);
}

@supports (
  (text-stroke: 4px #fff) or (-webkit-text-stroke: 1px var(--text-stroke))
) {
  .article__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke);
    text-stroke: 1px var(--text-stroke);
  }
}

.article__label {
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  z-index: 5;
  inset-block-start: 25px;
  inset-inline-end: 11px;
  opacity: 0.5;
  text-shadow: 2px 4px 3px rgb(255 255 255 / 0.5);
  mix-blend-mode: hard-light;
}

.article__img {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

.article__content-text {
  padding-block-start: 25px;
  padding-block-end: 23px;
  padding-inline-start: 25px;
  padding-inline-end: 25px;
  border-top: 2px solid #000;
}

.article__text {
  line-height: 1.171em;
}

.article__text:not(:last-of-type) {
  margin-block-end: 1.5em;
}

.article__text:last-of-type {
  margin-block-end: 1.39em;
}

.article__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 4px;
}

/* Иконка сердца */
.contour {
  fill: var(--heart-contour);
  transition-duration: 0.1s;
}

.main-body {
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0s;
}

.article__button-heart:hover .main-body {
  opacity: 1;
  transition-delay: 0.05s;
}

.article__button-heart:active .main-body {
  opacity: 1;
  transition-delay: 0.05s;
  fill: #ff0000;
}

.core {
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.03s;
}

.article__button-heart:hover .core {
  opacity: 1;
  transition-delay: 0s;
}

.article__button-heart:active .core {
  opacity: 1;
  transition-delay: 0s;
  fill: #ff0000;
}

.sparks {
  opacity: 0;
}

/* Клик по иконке сердца */
.is-liked .heart {
  transform-origin: center;
  animation-name: heart-scale;
  animation-delay: 0.1s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.like-icon.is-liked .sparks {
  animation-name: heart-spark;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  fill: var(--heart-sparks-core-body);
}

.like-icon.is-liked .core {
  opacity: 1;
  fill: var(--heart-sparks-core-body);
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  opacity: 1;
  fill: var(--heart-sparks-core-body);
  transition-delay: 0.03s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-sparks-core-body);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

/* Основная конпка */
.general-btn {
  position: relative;
  border: 2px solid var(--accent-color);
  background-color: transparent;
}

.general-btn::before {
  content: '';
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.general-btn:hover.general-btn::before {
  transform: scaleX(1);
}

.general-btn:focus {
  outline: none;
}

.general-btn:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color, #000);
  transition-duration: 0.5s;
}

.general-btn__text {
  position: relative;
  z-index: 2;
  font-family: var(--accent-font-family);
  font-size: var(--font-size-general-btn);
  color: var(--color-font-button, #fff);
  mix-blend-mode: difference;
  font-weight: var(--font-weight-general-btn);
}
/* Основная конпка */

.article__button-like {
  min-block-size: 38px;
  min-inline-size: 130px;
  padding: 0;
}

/* .article__button-like:focus{
  outline: none;
} */

.article__button-like:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color, #000);
  transition-duration: 0.5s;
}

.article__button-heart {
  border: 2px solid transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  min-block-size: 38px;
  padding: 0;
}

.article__button-heart:focus {
  outline: none;
}

.article__button-heart:focus-visible {
  border-color: var(--accent-color, #000);
  transition: border 0.3s ease;
}

.save {
  display: flex;
  justify-content: center;
  margin-block-end: 102px;
}

.save__button {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding-block: 15px;
  padding-inline: 20px;
}

.floppy {
  position: relative;
  z-index: 2;
  fill: #fff;
  mix-blend-mode: difference;
}

.save__floppy {
  width: 28px;
  height: 28px;
}

.dialog[open] {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  column-gap: 20px;
  row-gap: 31px;
  width: 360px;
  padding-block: 30px;
  padding-inline: 27px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__floppy {
  width: 39px;
  height: 39px;
}

.dialog__text {
  font-family: var(--accent-font-family);
  font-size: var(--font-size-general-btn);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.3rem;
}

.dialog__btn {
  grid-column: 1 / 3;
  padding-block: 6px;
}

.dialog__btn-text {
  text-transform: uppercase;
}

.dialog {
  z-index: 10;
}

@media (width > 375px) {
  .wrapper {
    inline-size: var(--wrapper-inline-size);
    margin: 0 auto;
  }

  .header__wrapper {
    padding-inline-start: var(--inline-padding-header);
    padding-inline-end: var(--inline-padding-header);
    padding-block-start: var(--block-padding-header);
    padding-block-end: var(--block-padding-header);
  }

  .header__title {
    font-size: var(--font-size-header-title);
  }

  .header__subtitle {
    font-size: var(--font-size-header-subtitle);
  }

  .article__label {
    inset-block-start: 27px;
    inset-inline-end: 25px;
  }

  .article__text {
    line-height: 1.177em;
  }

  .footer {
    padding-block: 50px 100px;
  }

  .save__button {
    flex-direction: row;
    background-color: #fff;
  }

  .save__floppy {
    width: 21px;
    height: 21px;
  }

  .dialog[open] {
    padding-inline: 30px;
  }

  .dialog__btn {
    padding-block: 6px;
  }
}
